body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
}

h1 {
  font-weight: normal;
}
p {
  color: white;
  background-color: black;
  margin: 2rem;
  padding: 1rem;
  border: 4px solid crimson;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: purple;
}

p {
  border: 4px solid crimson;
}
